<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <merlin_multicoupon>
            <general>
                <enabled>1</enabled>
            </general>
        </merlin_multicoupon>
    </default>
</config>
